<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{- partial "favicon.html" . -}}

  <title>
    {{ block "title" . }}
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else if .Title }}
      {{ .Title }} | {{ .Site.Title }}
    {{ else }}
      {{ .Summary | plainify | truncate 40 }} | {{ .Site.Title }}
    {{ end }}
    {{ end }}
  </title>

  {{- partial "seo_tags.html" . -}}
  {{- partial "style.html" . -}}
  {{- partial "microblog_head.html" . -}}
</head>

<body>
  <header>
    {{- partial "header.html" . -}}
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>

  {{- partial "footer.html" . -}}

  {{ range .Site.Params.plugins_js }}
    <script src="{{ . }}"></script>
  {{ end }}

  </body>
</html>
