.e-content a,
.e-content time {
  display: inline; /* Or inline-block if you need to adjust margins or padding */
  margin: 0; /* Ensure no extra space from margins */
  padding: 0; /* Ensure no extra space from padding */
}
{{ define "main" }}

<div class="h-feed">
	{{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
	{{ range $paginator.Pages  }}
        <div class="h-entry">
			{{ if .Title }}
			<h1 class="">
				<a href="{{ .Permalink }}" class="p-name">{{ .Title }}</a>
			</h1>
			{{ end }}
			<div class="e-content">{{ .Content }} »<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 Jan, 2006" }}</time></a></div>
		
        </div>
    {{ end }}
</div>

{{ end }}
